.caption{
    font-size: 2.1rem;
    font-weight: 600;
}
.text-bold{
    font-weight: 600;
}
/* Colours */
.text-blue{
    color: #0563bb !important;
}
.bg-blue{
    background-color: #0563bb !important;
}